@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.content {
    display: flex;
    justify-content: space-around;
}

.card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.card-box .icon {
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
    transition: font-size 0.5s ease;
}

.card-box:hover .icon {
    font-size: 80px;
}

.card-box .jumlah p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card-box h3 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.card-box a {
    text-decoration: none;
}

.card-box a:hover {
    text-decoration: underline;
}
